  <div
  class="cta-container"
  [ngClass]="{'full-width': fullWidth, 'centered': !fullWidth, 'shadow': boxShadow }"
  [ngStyle]="{'background-color': backgroundColor, 'color': textColor , 'text-align': alignText, 'border-radius': borderRadius + 'px'  }">
  <!-- <app-section-tilte [title]="title"></app-section-tilte> -->
  <h2 [ngStyle]="{ 'color': titleColor ,'font-size': titleFontSize+'px', 'font-style':titleFontStyle }">{{ title }}</h2>
  <h3 [ngStyle]="{ 'color': subtitleColor ,'font-size': subtitleFontSize+'px', 'font-style':subtitleFontStyle }">{{ subTitle }}</h3>
  <p [ngStyle]="{ 'color': textColor, 'font-size': textFontSize , 'font-style': textFontStyle} ">{{ content }}</p>

  <ng-container *ngIf="isButton; else linkTemplate">
    <button
    (click)="navigateTo(buttonLink)"
      class="cta-btn"
      [ngStyle]="{
        'background-color': buttonBgColor,
        'color': buttonTextColor
      }"
    >
      {{ buttonText }}
    </button>
  </ng-container>

  <ng-template #linkTemplate>
    <a
    (click)="navigateTo(buttonLink)"
      class="cta-btn"
      [ngStyle]="{
        'background-color': buttonBgColor,
        'color': buttonTextColor
      }"
    >
      {{ buttonText }}
    </a>
  </ng-template>
</div>
