<div class="sp-hero" id="carousel" [style.height]="sliderHeight" [style.opacity]="sliderOpacity">
  <div *ngFor="let slide of slides; let i = index"
       [class.active]="i === currentSlide"
       class="slide">
       <div class="overlay" *ngIf="slide.backgroundImage" [style.backgroundImage]="'url(' + slide.backgroundImage + ')'"></div>
    <div class="content" *ngIf="slide.title">
      <h1>{{ slide.title }}</h1>
      <div class="separator"></div>
      <h2 class="subtitle" [style.fontSize]="subtitleSize" [style.fontWeight]="subtitleWeight" [innerHTML]="slide.subtitle"></h2>

      <div class="buttons">
        <a *ngFor="let button of slide.buttons"
        [routerLink]="button.link"
        [class.btn-outline]="button.outline"
        class="btn"
        [style.borderRadius]="buttonBorderRadius">
       {{ button.text }}
     </a>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div *ngIf="slides && slides.length > 1">
  <div class="navigation" [ngClass]="{ 'bottom-nav': navigation === 'bottom' }">
    <div *ngFor="let slide of slides; let i = index"
         [class.active]="i === currentSlide"
         class="nav-item"
         (click)="navigateToSlide(i)">
    </div>
  </div>

  <!-- Side Buttons -->
  <button *ngIf="sideButtons" class="control prev" (click)="prevSlide()">
    &larr;
  </button>
  <button *ngIf="sideButtons" class="control next" (click)="nextSlide()">
    &rarr;
  </button>
  </div>
</div>
