service cloud.firestore {
 match /databases/{database}/documents {
    match /{document=**} {
      // This rule allows anyone with your database reference to view, edit,
      // and delete all data in your database. It is useful for getting
      // started, but it is configured to expire after 30 days because it
      // leaves your app open to attackers. At that time, all client
      // requests to your database will be denied.
      //
      // Make sure to write security rules for your app before that time, or
      // else all client requests to your database will be denied until you
      // update your rules.
      allow read, write: if request.time < timestamp.date(2025, 7, 25);
    }
  }
  match /databases/{database}/documents {
    // Rule to apply to all documents
    // This rule should be restrictive and only allow read/write operations based on custom logic.
    // Temporary rule that allows all access till a certain date, should be replaced with specific rules.
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2025, 10, 25);
    }

    // Specific rules for the `businesses` collection and its sub-collections
    match /businesses/{businessId}/employees/{employeeId} {
      // Allow read access for all authenticated users
      allow read: if true;

      // Allow write access only if authenticated user meets specific criteria
      // You might want to refine this based on your authentication setup
      allow write: if true;
    }
  }
}
