<div class="latest-products" *ngIf="layoutType=='sb'">
  <app-section-tilte [title]="'Affordable Web & Media Plans'"></app-section-tilte>
  <p class="description">
    Whether you're just getting started or looking for a high-end, fully customized website, we have a package that fits your needs.
    We design websites to help showcase your adult family home with a professional online presence,
     making it easier for families to find and trust your services.
  </p>

  <div class="product-grid">
    <div class="product-card" *ngFor="let product of displayItems">
      <img [src]="product.image" [alt]="product.title" />
      <h3>{{ product.title }}</h3>
      <span class="category">{{ product.category }}</span>
      <p [innerHTML]="getSanitizedDescription(product.description)"></p>
      <!-- <a href="#" class="read-more">READ MORE</a> -->
    </div>
  </div>
</div>


<div class="latest-products" *ngIf="layoutType!='sb'">
  <!-- <h2>Trusted Partners</h2> -->
  <app-section-tilte [title]="'Trusted Partners'"></app-section-tilte>
  <p class="description">Using carefully vetted providers and vendors.</p>

  <div class="product-grid">
    <div class="product-card" *ngFor="let item of displayItems; let i = index">
      <div class="card-header">
        <img [src]="item.companyLogo || item.image" alt="{{ item.title }} Logo" class="logo" />
        <span class="index">{{ (i + 1) | number:'2.0' }}</span>
      </div>
      <h3 class="company-name">{{ item.title }}</h3>
      <p [innerHTML]="getSanitizedDescription(item.description)"></p>
      <a href="{{item.url}}" class="read-more" target="_blank">Visit</a>
    </div>
  </div>
</div>







