<app-hero [layoutType]="'prestige'"></app-hero>

<div class="location-page-container" style="text-align: left">
  <div class="row">
    <div class="col location-details">
      <h2>{{ location?.locationName || "Location" }}</h2>
      <div class="location-contact-details">
        <p>
          <i class="fa-solid fa-map-location-dot"></i><strong>Address:</strong>
          {{ location?.street }}, {{ location?.city }}, {{ location?.state }}
          {{ location?.zipcode }}
        </p>
        <p>
          <i class="fa-solid fa-envelope"></i><strong>Email:</strong>
          {{ location?.email }}
        </p>
        <p>
          <i class="fa-solid fa-phone"></i><strong>Phone:</strong>
          {{ location?.phone }}
        </p>
        <p>
          <i class="fa-solid fa-fax"></i><strong>Fax:</strong>
          {{ location?.fax }}
        </p>
      </div>
      <div class="map--open-maps-link" data-item="block-link">
        <a
          href="https://google.com/maps/place/'{{ location.street }}+{{
            location.city
          }}+{{ location.zipcode }}'"
          target="_blank"
          rel="noreferrer"
          aria-label="Open in maps"
        >
          Open in maps
        </a>
      </div>
      <div class="map-hours">
        <p>
          Monday - Friday<br />9am - 5pm<br /><br /><br />
          Call to schedule an appointment
          <a href="tel:{{ location?.phone }}" title="tel:{{ location?.phone }}"
            >{{ location?.phone }},</a
          >
          text us at: {{ location?.phone }}
        </p>
      </div>
      <div class="cta-buttons">
        <button class="afhBtn" (click)="navigateTo('contact-us')">
          Contact Us
        </button>
      </div>
    </div>
    <div class="col"><img src="{{ location?.image }}" /></div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngIf="useMockMap; else liveMap">
        <img
          src="../../../../assets/sharedAssets/mock-map.png"
          alt="Static Map Preview"
        />
      </div>
      <ng-template #liveMap>
        <div id="map" class="map-container"></div>
      </ng-template>
    </div>
  </div>
</div>
